branches:
  - name: "main"
  - name: "v1.x"
    range: "v1.x"

repositoryUrl: 'https://github.com/naceto/RFC001.git'

plugins:
  - "@semantic-release/commit-analyzer"
  - "@semantic-release/release-notes-generator"
  - "@semantic-release/github"
